<div class="filter_container">

  <div class="search">
    <div class="filter_item">
      <label for="filter_name">Nome</label>
      <input type="text" id="filter_name" placeholder="Digite o nome ou id do pokemon">
    </div>
  </div>

  <div class="filter">

    <div class="filter_item">
      <label for="filter_type">Tipo</label>
      <select name="filter_type" id="filter_type">
        <option value="all">Todos</option>
        <option *ngFor="let tipo of tipos" [value]="tipo.name">{{ capitalizeFirstLetter(tipo.name)  }}</option>
      </select>
    </div>

    <div class="filter_item">
      <label for="filter_generation">Geração</label>
      <select name="filter_generation" id="filter_generation">
        <option value="all">Todos</option>
        <option value="1">1ª Geração</option>
        <option value="2">2ª Geração</option>
        <option value="3">3ª Geração</option>
        <option value="4">4ª Geração</option>
        <option value="5">5ª Geração</option>
        <option value="6">6ª Geração</option>
        <option value="7">7ª Geração</option>
        <option value="8">8ª Geração</option>
        <option value="9">9ª Geração</option>
      </select>
    </div>

  </div>


  <button class="filter_btn">Buscar</button>
</div>
