
<div class="filter_container">
    <div class="filter_item_input">
      <input type="text" id="filter_name" placeholder="Search your pokemon" [(ngModel)]="searchTerm" (input)="onSearchTermChange()">
    </div>

  <div class="filter">

    <div class="filter_item_select">

      <div class="custom-dropdown">
            <div class="selected-option" (click)="toggleDropdown('order')">
                <div>
                    <img class="order-icon" src="assets/icon/fight.png">
                    {{selectedLabel || 'Order'}}
                </div>
                <img class="arrow-icon" [src]="dropdowns.order ? 'assets/icon/arrow-up.png' : 'assets/icon/arrow-down.png'" alt="">
            </div>
            <div class="options" *ngIf="dropdowns.order">
                <div class="option" (click)="selectOption('order', 'asc')">Ascending</div>
                <div class="option" (click)="selectOption('order', 'desc')">Descending</div>
            </div>
        </div>

    </div>

    <div class="filter_item_select">

      <div class="custom-dropdown">
        <div class="selected-option" (click)="toggleDropdown('type1')">
            <div>
                <img class="type-icon" src="assets/icon/type1.png" alt="">
                {{selectedType1Label || 'Type 1'}}
            </div>
            <img class="arrow-icon" [src]="dropdowns.type1 ? 'assets/icon/arrow-up.png' : 'assets/icon/arrow-down.png'" alt="">
        </div>
        <div class="options" *ngIf="dropdowns.type1">
            <div class="option" (click)="selectOption('type1', 'all')">All</div>
            <div class="option"
              *ngFor="let tipo of tipos"
              (click)="selectOption('type1', tipo.name)"
              (mouseover)="setHover(tipo.name)"
              (mouseout)="clearHover(tipo.name)"
              [style.background-color]="hoveredTypes[tipo.name] ? getBackgroundColorForType(tipo.name) : ''">
              {{ capitalizeFirstLetter(tipo.name) }}
          </div>
        </div>
    </div>

    </div>
    <div class="filter_item_select">

      <div class="custom-dropdown">
        <div class="selected-option" (click)="toggleDropdown('type2')">
            <div>
                <img class="type-icon" src="assets/icon/type2.png" alt="">
                {{selectedType2Label || 'Type 2'}}
            </div>
            <img class="arrow-icon" [src]="dropdowns.type2 ? 'assets/icon/arrow-up.png' : 'assets/icon/arrow-down.png'" alt="">
        </div>
        <div class="options" *ngIf="dropdowns.type2">
            <div class="option" (click)="selectOption('type2', 'all')">All</div>
            <div class="option"
            *ngFor="let tipo of tipos"
            (click)="selectOption('type2', tipo.name)"
            (mouseover)="setHover(tipo.name)"
            (mouseout)="clearHover(tipo.name)"
            [style.background-color]="hoveredTypes[tipo.name] ? getBackgroundColorForType(tipo.name) : ''">
                {{ capitalizeFirstLetter(tipo.name) }}
            </div>
        </div>
    </div>

    </div>


    <div class="filter_item_select">

       <div class="custom-dropdown">
            <div class="selected-option" (click)="toggleDropdown('generation')">
                <div>
                    <img class="generation-icon" src="assets/icon/generation.png" alt="">
                    {{selectedGenerationLabel || 'Generation'}}
                </div>
                <img class="arrow-icon" [src]="dropdowns.generation ? 'assets/icon/arrow-up.png' : 'assets/icon/arrow-down.png'" alt="">
            </div>
            <div class="options" *ngIf="dropdowns.generation">
                <div class="option" (click)="selectOption('generation', 'all')">All</div>
                <div class="option" *ngFor="let gen of [1,2,3,4,5,6,7,8,9]" (click)="selectOption('generation', gen)">
                    {{ gen }}th Generation
                </div>
            </div>
        </div>

    </div>

    <div class="filter_item_select button_filter">
      <button class="filter_button">Filtrar</button>
    </div>
  </div>

</div>

