.filter_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(190, 48, 48);
  color: var(--branco);
  width: 100%;
  height: 100%;
  padding: 40px 0px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

}

.search, .filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.filter {
  width: 40%;
}

.filter_item > label{
  font-size: 18px;
  text-transform: uppercase;
}

.filter_item > select, .filter_item > input{
  width: 100%;
  height: 100%;
  padding: 7px 10px;
  border: none;
  font-size: 16px;
  border-radius: 21px;
}

.filter_item > input{
  width: 100%;
}

.filter_item > input:focus, .filter_item > select:focus{
  outline: none;
}

.filter_item > input::placeholder {
  color: inherit;
}

.filter_item > input:focus::placeholder {
  color: transparent;
}

.filter_item {
  width: 100%;
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filter_btn {
  padding: 10px 50px;
  border: none;
  font-size: 18px;
  background-color: var(--dark);
  color: var(--branco);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border-radius: 5px;
  font-weight: bold;
}

.filter_btn:hover {
  opacity: 0.8;
}
