<div class="pokedex_info">
  <div class="entry">
    <h3>POKEDEX ENTRY</h3>
    <p *ngIf="description" [innerHTML]="description"></p>
    <p *ngIf="!description">Description</p>
  </div>

  <h4>ABILITIES</h4>
  <div class="abilities" *ngIf="abilities.length > 0">
    <div class="ability" *ngFor="let item of abilities">
      <p>{{item?.ability && item.ability.name ? item.ability.name : ''}}</p>
    </div>
  </div>
  <div class="abilities" *ngIf="abilities.length === 0">
    <div class="ability" *ngFor="let item of [0, 1]">
      <p>Ability</p>
    </div>
  </div>

  <div class="container-info">
    <div class="info-column">
      <div class="info-item">
        <h4>HEIGHT</h4>
        <p>{{height ? (height / 10): 0}}m</p>
      </div>
      <div class="info-item">
        <h4>WEIGHT</h4>
        <p>{{weight ? (weight / 10): 0}}Kg</p>
      </div>
    </div>
    <div class="info-column">
      <div class="info-item">
        <h4>CAPTURE RATE</h4>
        <p>{{captureRate ? captureRate : 0}}</p>
      </div>
      <div class="info-item">
        <h4>BASE EXP</h4>
        <p>{{baseExperience ? baseExperience : 0}}</p>
      </div>
    </div>
  </div>

  <h4>STATS</h4>
  <div class="stats-container">
    <ng-container *ngIf="newStats.length > 1">
      <div class="stats" *ngFor="let stat of newStats">
        <div class="stat">
            <p class="{{stat.label}}">{{stat.label}}</p>
            {{stat.value}}
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="newStats.length <= 1">
      <div class="stats" *ngFor="let label of ['HP', 'ATK', 'DEF', 'SpA', 'SpD', 'SPD', 'TOT']">
        <div class="stat">
            <p class="{{label}}">{{label}}</p>
            0
        </div>
      </div>
    </ng-container>
  </div>
</div>
