:host {
  width: 100%;
}

.pokedex_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}

.entry > p {
  font-size: 12px;
  font-weight: bold;
  color: var(--cinza-escuro);
  text-align: center;
}

.abilities {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.ability {
  text-align: center;
  background-color: #F6F8FC;
  border: rgb(177, 177, 177) 1px solid;
  border-radius: 20px;
  padding: 7px 20px;
  font-size: 12px;
  font-weight: bold;
  color: black;

  width: 50%;

  margin: 0px 5px;
}

.container-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 20px;
}

.info-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.info-item > p {
  background-color: #F6F8FC;
  border-radius: 20px;
  padding: 7px 20px;
  font-size: 12px;
  font-weight: bold;
  color: black;
  width: 90%;
}

.stats-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.stats {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stat {
  background-color: #F6F8FC;
  border-radius: 20px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
}

.stat > p {
  font-size: 12px;
  font-weight: bold;
  color: var(--branco);
  margin: 0;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HP {
  background-color: #DF2140;
}

.ATK {
  background-color: #FF994D;
}

.DEF {
  background-color: #FFDC41;
}

.SpA {
  background-color: #85DDFF;
}

.SpD {
  background-color: #A8EF95;
}

.SPD {
  background-color: #FB94A8;
}

.TOT {
  background-color: #7195DC;
}


@media (max-width: 600px) {

  .pokedex-infos {
    margin-top: 180px;
  }

  .entry > p {
    font-size: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

  }
}
