.home_container {
  min-height: 100vh;
  height: 100%;
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: auto;
  border-radius: 15px;
}

.home_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_list-pokemon__title {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0px;
}

.home_pokemon__list {
  min-height: 90vh;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
  grid-auto-rows: 295px;
  grid-gap: 10px;
  width: 100%;
  justify-items: center;
}

.grid-item {
  max-width: 280px;
  max-height: 280px;
  width: 100%;
}

.home_filter {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.home_pokemon__list__pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.home_pokemon__list__pagination > button {
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  background-color: var(--dark);
  color: var(--branco);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border-radius: 5px;
  font-weight: bold;
  margin: 0px 5px;
}

.home_pokemon__list__pagination > button:hover {
  opacity: 0.8;
}

.home_pokemon__list__pagination > input {
  width: 50px;
  height: 100%;
  padding: 10px 10px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
}

.home_pokemon__list__pagination > input:focus {
  outline: none;
}

.pokeball-logo {
  opacity: 0.07;
  position: absolute;
  top: -15%;
  left: -10%;
  width: 30%;
  z-index: -1;

}
