.home_container {
  min-height: 100vh;
  height: 100%;
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: auto;
  border-radius: 15px;
  position: relative;
}

.home_content {
  width: 100%;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_list-pokemon__title {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0px;
}

.home_pokemon__list {
  min-height: 90vh;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-auto-rows: 295px;
  grid-gap: 10px;
  width: 100%;
  justify-items: center;
  padding: 0px 10px;
}

.grid-item {
  width: 100%;
}

.home_filter {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.home_pokemon__list__pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.home_pokemon__list__pagination > button {
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  background-color: var(--dark);
  color: var(--branco);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border-radius: 5px;
  font-weight: bold;
  margin: 0px 5px;
}

.home_pokemon__list__pagination > button:hover {
  opacity: 0.8;
}

.home_pokemon__list__pagination > input {
  width: 50px;
  height: 100%;
  padding: 10px 10px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
}

.home_pokemon__list__pagination > input:focus {
  outline: none;
}

.pokeball-logo {
  opacity: 0.07;
  position: absolute;
  top: -15%;
  left: -10%;
  width: 30%;
  z-index: -1;

}

.filter_item_select {
  display: none;
}

@media (max-width: 1000px) {
  .home_container {
    flex-direction: column;
    border-radius: 0px;
    width: 100%;
  }

  .home_content {
    max-width: 100%;
    padding: 0px 20px;
  }

  .home_pokemon__list {
    grid-gap: 20px;
  }

  .grid-item {
    max-width: 100%;
    max-height: 100%;
  }

  .filter_item_select {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 0px 10px;
  }

  .open_filter_button {
    display: block;
    border: none;
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0px 6px 20px 0px rgba(61, 61, 61, 0.2);
    padding: 15px 20px;
    cursor: pointer;
    background-color: #fff;
    color: #e61c1c;
    box-sizing: border-box;
  }

  .pokeball-logo {
    width: 30%;
    top: -15%;
    left: -10%;
  }

  .close_filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 4;
    border: none;
  }

  .home_filter.open .close_filter {
    opacity: 0.3;
    transition: opacity 0.3s;
  }

  .home_filter {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 5;
    width: 100%;
    height: 100vh;
    transition: left 0.5s;
  }

  .home_filter.open {
    left: 0;
  }
}


