.container_pokedex-viewer {

  background-color: var(--branco);
  margin-left: 20px;
  margin-top: 85px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 6px 20px 0px rgba(61, 61, 61, 0.2);
  position: relative;

  max-width: 100%;

}

:host {
  width: 100%;
  max-width: 30%;
  height: 100%;
}

.pokedex-image {
  position: absolute;
  width: 250px;
  height: 250px;
  max-width: 250px;
  max-height: 250px;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;

}

.image_background {
  background-color: var(--cinza-escuro);
  opacity: 0.4;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.white {
  background-color: var(--branco);
  opacity: 1;
  z-index: 0;
}

.pokedex-image > img {
  width: 120%;
  height: 120%;
  position: absolute;
  top: -10%;
  left: -10%;
  z-index: 3;
  transition: transform 0.2s ease-in-out;
}

.scale-animation {
  transform: scale(1.03);
}

.pokedex-infos {
  margin-top: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.pokedex-infos > p {
  font-size: 18px;
  font-weight: bold;
  color: var(--cinza-escuro);
  margin: 0;
}

.type {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--cinza-escuro);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  color: var(--branco);

  width: fit-content;

  margin: 0px 5px;
}

.types {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.entry > p {
  font-size: 12px;
  font-weight: bold;
  color: var(--cinza-escuro);
  margin-bottom: 10px;
  text-align: center;
}

.abilities {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.ability {
  text-align: center;
  background-color: #F6F8FC;
  border: rgb(177, 177, 177) 1px solid;
  border-radius: 20px;
  padding: 7px 20px;
  font-size: 12px;
  font-weight: bold;
  color: black;

  width: 50%;

  margin: 0px 5px;
}

.container-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 20px;
}

.info-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.info-item > p {
  background-color: #F6F8FC;
  border-radius: 20px;
  padding: 7px 20px;
  font-size: 12px;
  font-weight: bold;
  color: black;
  width: 90%;
}

.stats-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.stats {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stat {
  background-color: #F6F8FC;
  border-radius: 20px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
}

.stat > p {
  font-size: 12px;
  font-weight: bold;
  color: var(--branco);
  margin: 0;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HP {
  background-color: #DF2140;
}

.ATK {
  background-color: #FF994D;
}

.DEF {
  background-color: #FFDC41;
}

.SpA {
  background-color: #85DDFF;
}

.SpD {
  background-color: #A8EF95;
}

.SPD {
  background-color: #FB94A8;
}

.TOT {
  background-color: #7195DC;
}

.evolutionChain {
  width: 100%;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin-top: 20px;
}

.evolutionChain-container {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.evolutionChain-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.evolutionChain-item__image {
  max-width: 50px;
  max-height: 50px;
}

.evolutionChain-item__image > img {
  width: 100%;
  height: 100%;
}

.arrow-evolution {
  max-width: 20px;
  max-height: 20px;
  margin: 0 5px;
}

.evolutionChain-item__name > p {
  font-size: 12px;
  font-weight: bold;
  color: var(--cinza-escuro);
  margin: 0;
  text-transform: capitalize;
}

.pokedex-navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  background-color: #F6F8FC;
  border-radius: 15px;
}

.pokedex-navigation__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  border: none;
  padding: 17px 5px;
  width: 100%;
  cursor: pointer;
}

.navigationImage {
  width: 25px;
  height: 25px;
}

.navigationInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

.hr {
  height: 30px;
  width: 1px;
  border-left: 1px solid var(--cinza-escuro);
}

.navigation-arrow-left {
  transform: rotate(180deg);
}

.navigation-arrow {
  width: 10px;
  height: 10px;
}

.navigationId {
  font-size: 10px;
  font-weight: bold;
  color: var(--cinza-escuro);
  margin: 0;
}

.navigationName {
  font-size: 11px;
  font-weight: bold;
  margin: 0;
  text-transform: capitalize;
}
/* PlaceHolder */

.image_placeHolder {
  filter: grayscale(100%) brightness(100%) contrast(0%);
}
