<div class="container_pokedex-viewer">
  <button class="closePokedex_button" (click)="closeViewerClick()">X</button>
  <div class="pokedex-image">
    <div class="image_background" [ngStyle]="{'background-color': getBackgroundColorForType(types[0])}"></div>
    <img class="image_placeHolder" #imageElement [src]="imageUrl ? imageUrl : 'assets/charizard-silhueta.png'" alt="{{name}}">
  </div>
  <div class="pokedex-infos">
    <div class="nameAndId">
      <p>{{id ? '#' + id : '#0'}}</p>
      <h1>{{name ? capitalizeFirstLetter(name) : 'Pokemon'}}</h1>
    </div>
    <div class="types" *ngIf="types.length > 0">
      <div class="type" *ngFor="let item of types" [ngStyle]="{'background-color': item ? getBackgroundColorForType(item) : ''}">
        <span>{{item ? capitalizeFirstLetter(item) : ''}}</span>
      </div>
    </div>

    <div class="types" *ngIf="types.length === 0">
      <div class="type">
        <span>Tipo</span>
      </div>
    </div>

    <app-info-pokedex
      [description]="description"
      [abilities]="abilities"
      [height]="height"
      [weight]="weight"
      [stats]="stats"
      [baseExperience]="baseExperience"
      [captureRate]="captureRate">
    </app-info-pokedex>

      <div class="evolutionChain-container" *ngIf="evolutionChain.length === 0">
        <div class="evolutionChain-item" *ngFor="let item of pokemonEvolutionSilhueta; let i = index">
          <div class="item">
            <div class="evolutionChain-item__image">
              <img class="image_placeHolder" src={{item}} alt="">
            </div>
            <div class="evolutionChain-item__name">
              <p>Pokemon</p>
            </div>
          </div>
          <img class="arrow-evolution" *ngIf="i < pokemonEvolutionSilhueta.length - 1" src="assets/icon/arrow-evolution.png" alt="Arrow for evolution">
        </div>
      </div>
    </div>

  <div class="pokedex-navigation" *ngIf="previousAndNextPokemon.length > 0">
    <button class="pokedex-navigation__button" (click)="previousPokemon()">
      <img class="navigation-arrow-left navigation-arrow" src="assets/icon/right-arrow.png" alt="">
      <img class="navigationImage" [src]="previousAndNextPokemon[0].url" alt="{{previousAndNextPokemon[0].name}}">
      <span class="navigationName">{{previousAndNextPokemon[0].name}}</span>
    </button>
    <div class="hr"></div>
    <button class="pokedex-navigation__button" (click)="nextPokemon()">
      <span class="navigationName">{{previousAndNextPokemon[1].name}}</span>
      <img class="navigationImage" [src]="previousAndNextPokemon[1].url" alt="{{previousAndNextPokemon[1].name}}">
      <img class="navigation-arrow-right navigation-arrow" src="assets/icon/right-arrow.png" alt="">
    </button>
  </div>

</div>
