.container_pokedex-viewer {
  height: 80vh;
  background-color: var(--branco);
  margin-left: 20px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 6px 20px 0px rgba(61, 61, 61, 0.2);

}

:host {
  width: 40%;
}
